#container {
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-login {
    display: flex;
    border-radius: 2vh;
    width: 30vw;
    height: 50vh;
    flex-direction: column;
    background-color: #094067;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

input {
    margin: 0;
    padding: 0;
    width: 82.5%;
    height: 8vh;
    margin: 2vh;
    padding-left: 2vh;
    outline: 0px;
    border-radius: 2vh;
    border: 1px solid #DDDFE2;
}

button {
    font-weight: bold;
    font-size: 2.5vh;
    color: #fffffe;
    background-color: #3da9fc;
    border-radius: 2vh;
    border: none;
    width: 86%;
    height: 8vh;
    margin: 2vh;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 2.5vh;
    color: #fffffe;
}

#div-senha{
    width: 82.5%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

#senha {
    margin: 0;
    width: 100%;
}

#esqueci-senha {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
h3{
    font-size: 3.5vh;
    color: #fffffe;
}