<div id="container">
    <div id="div-login">
        <h3>ACESSE SUA CONTA</h3>
        <form action="">
            <input type="email" id="email" placeholder="Email">
            <div id="div-senha">
                <input type="password" id="senha" placeholder="Senha">
                <div id="esqueci-senha">
                    <a href="">Esqueceu a senha?</a>
                </div>
            </div>
        </form>
        <button (click)="aoClicarEmAcessar()">Entrar</button>
    </div>
</div>