<div id="container">
    <div id="login" class="disposicao">
        <form action="" class="formulario">
            <h1>LOGIN</h1>
            <input type="text" placeholder="Digite o email cadastrado">
            <input type="password" placeholder="Digite a senha cadastrada">
            <a href="">Esqueceu a senha?</a>
        </form>
        <button (click)="navegarParaMeusCursos()">Entrar</button>
    </div>
    <div id="logon" class="disposicao">
        <form action="" class="formulario">
            <h1>LOGON</h1>
            <input type="text" placeholder="Digite seu email">
            <input type="password" placeholder="Digite sua senha">
            <input type="password" placeholder="Digite sua senha novamente">
        </form>
        <button (click)="cadastrarUsuario()">Criar conta</button>
    </div>
</div>