<div id="container">
    <h1>Meus cursos</h1>
    <hr>
    <div id="container-meus-cursos">
        <div id="meus-cursos">
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
        </div>
        <div id="div-botao">
            <span class="material-symbols-outlined" id="button-adicionar" (click)="aoClicarAdicionar()">add</span>
        </div>
    </div>
    <app-rodape></app-rodape>
</div>