#container {
    height: calc(100vh - 10vh);
    padding: 6vh;
    padding-left: 6vw;
    padding-bottom: 0;
}
h1 {
    padding: 0;
    margin: 0;
    font-size: 4vh;
    height: 8vh;
    display: flex;
    align-items: center;
    color: #094067;
}
hr {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#container-meus-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#meus-cursos{
    display: grid;
    grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
    justify-content: center;
    justify-items: center;
}

#button-adicionar {
    font-size: 5vh;
    display: flex;
    font-weight: bold;
    color: #fffffe;
    background-color: #3da9fc;
    border-radius: 50%;
    border: none;
    width: 10vh;
    height: 10vh;
    margin: 4vh;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#div-botao {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}