<div id="container">
    <h1>Meus cursos</h1>
    <hr>
    <div id="container-meus-cursos">
        <div id="meus-cursos">
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
        </div>
        <button>Adicionar</button>
    </div>
</div>