#container {
    height: calc(100vh - 10vh);
    padding: 6vh;
    padding-left: 6vw;
    padding-bottom: 0;
}

header {
    font-size: 4vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    margin: 0;
    padding: 0;
    width: 30vw;
    height: 100%;
    margin: 0;
    padding-left: 2vh;
    outline: 0px;
    border: 1px solid #DDDFE2;
    border-radius: 1vh 0px 0px 1vh;
    border-right: none;
}

span {
    font-weight: bold;
    color: #094067;
}

#container-cursos-disponiveis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cursos-disponiveis {
    display: grid;
    grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
    justify-content: center;
    justify-items: center;
}

#lupa{
    border-radius: 0px 1vh 1vh 0px;
    border: 1px solid #DDDFE2;
    width: 19%;
    height: calc(100% + 2px);
    border-left: none;
    font-size: 4vh;
}

#busca {
    margin: 0;
    padding: 0;
    height: 8vh;
    display: flex;
}

hr {
    margin-top: 1vh;
    margin-bottom: 1vh;
}