<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div id="container">
    <header>
        <span>Cursos disponiveis</span>
        <div id="busca">
            <input type="text" name="" id="" placeholder="Nome do curso">
            <button class="material-symbols-outlined" id="lupa">search</button>
        </div>
    </header>
    <hr>
    <div id="container-cursos-disponiveis">
        <div id="cursos-disponiveis">
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
            <app-card-cursos-marketplace></app-card-cursos-marketplace>
        </div>
    </div>
    <app-rodape></app-rodape>
</div>