<div id="container">
    <header>
        <span>Cursos disponiveis</span>
        <div id="busca">
            <input type="text" name="" id="" placeholder="Nome do curso">
            <button class="material-symbols-outlined" id="lupa">search</button>
        </div>
    </header>
    <hr>
    <div id="container-cursos-disponiveis">
        <div id="cursos-disponiveis">
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
            <app-card-curso></app-card-curso>
        </div>
    </div>
    <app-rodape></app-rodape>
</div>