<div id="container">
    <div id="div-login">
        <h3>CADASTRE-SE</h3>
        <form action="">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="senha" placeholder="Senha">
            <input type="password" id="senha" placeholder="Digite a senha novamente">
        </form>
        <button (click)="aoClicarIrParaMeusCursos()">Cadastrar</button>
        <hr>
        <p>Já posui uma conta? <a href="/">Acesse por aqui</a></p>
    </div>
</div>