#container {
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-login {
    display: flex;
    border-radius: 2vh;
    width: 30vw;
    height: 60vh;
    flex-direction: column;
    background-color: #272838;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

input {
    margin: 0;
    padding: 0;
    width: 82.5%;
    height: 8vh;
    margin: 1vh;
    padding-left: 2vh;
    outline: 0px;
    border-radius: 2vh;
    border: thin solid white;
}

button {
    font-weight: bold;
    font-size: 2.5vh;
    color: #fffffe;
    background-color: #3da9fc;
    border-radius: 2vh;
    border: none;
    width: 86%;
    height: 8vh;
    margin: 2vh;
    margin-top: 0;
    padding: 0;
}

button:hover {
    background-color: #4f4783;
}

a{
    text-decoration: none;
    font-size: 2.5vh;
}

h3{
    font-size: 3.5vh;
    color: white;
}