<div id="container">
    <header id="cabecalho-lista-videos">Curso de HTML5 e CSS3 - Módulo 1</header>
    <div id="area-curso">
        <div id="lista-videos">
            @for (item of listaDeVideos; track $index) {
            <div id="titulo-video" (click)="aoClicarNoTitulo(item.link)">{{ item.titulo }}</div>
            }
        </div>
        <div id="area-video">
            <div id="video-container">
                <iframe id="video" src="https://www.youtube.com/embed/Ejkb_YpuHWs?si=QI2wbM1vpsGtHkot"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <h2>Titulo do video</h2>
            </div>
            <div id="botoes">
                <div id="navegar-entre-aulas">
                    <button id="botao-aula-anterior">
                        <span class="material-symbols-outlined">arrow_back_ios</span>
                        aula anterior
                    </button>
                    <button id="botao-proxima-aula">proxima aula
                        <span class="material-symbols-outlined">arrow_forward_ios</span>
                    </button>
                </div>
                <button id="botao-concluido" (click)="aoClicarEmConcluido()">
                    <span class="material-symbols-outlined">{{concluidoIcone}}</span>
                    {{concluidoTexto}}
                </button>
            </div>
        </div>
    </div>
</div>