#container {
    height: calc(100vh - 10vh);
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 3.5vh;
    margin: 0;
    padding: 1.5%;
    padding-left: 0;
    padding-right: 0;
    background-color: #f9f8f8c4;
    color: #111111;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 2vw;
    border-bottom: solid #d8eefe 1px;
}

#area-curso {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

#lista-videos {
    color: #d8eefe;
    overflow: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #094067;
    /* margin: 2%; */
    margin: 0 0 0 2%;
}

#titulo-video {
    padding: 2vh;
    padding-left: 1vw;
    padding-right: 0;
    font-size: 3vh;
    max-width: 90%;
}

#container-titulo-video:hover {
    background-color: #d8eefe;
    color: #094067;
    cursor: pointer;
}

#container-titulo-video {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4vh;
    border-bottom: solid #d8eefe 1px;
}

#area-video {
    height: 90%;
    width: 60%;
    display: flex;
    padding: 2%;
    padding-right: 0;
    margin: 0 0 0 0;
    background-color: #fffffe;
}

#video-container {
    width: 100%;
}

iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 88%;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 3.5vh;
    color: #094067;
    max-width: 70%;
}

button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: #094067;
    background-color: #fffffe;
    height: 8vh;
}

button:hover {
    background-color: #3da9fc;
    color: #fffffe;
}

.material-symbols-outlined {
    background: none;
    font-size: 4vh;
}

#rodape-video {
    justify-content: space-between;
    display: flex;
    height: 15%;
    align-items: center;
    width: 100%;
}

#botao-concluido {
    width: 32%;
    display: flex;
    justify-content: center;
    font-size: 3vh;
}