.container-menu-lateral {
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: 0;
}

.container-menu-lateral:hover {
    cursor: pointer;
    padding-right: 10px;
}

#shopping_cart,
#home {
    border-radius: 20%;
    background-color: unset;
    color: black;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.menu-aberto {
    width: 190px;
}

.texto-menu {
    margin-left: 10px;
    display: none;
}

#botao-menu {
    display: block;
}

#container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}


#container:hover {
    width: 190px;

    .texto-menu {
        display: block;
    }
}