*{
    font-family: 'Inconsolata', monospace;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#raiz{
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
}