* {
    font-family: 'Rubik', sans-serif;
}

html,
body,
app-root {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333131;
}

input {
    font-size: 2.5vh;
    background-color: #fffffe;
    color: black;
    font-weight: bold;
}

::placeholder {
    font-style: italic;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48;
    border: 0;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}