#container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90b4ce;
    color: #094067;
    position: absolute;
    left: 0;
    right: 0;
    bottom: initial;
    font-size: 3vh;
}