* {
    margin: 0;
    padding: 0;
}

#container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 100px -20px black;
}

#menu-usuario {
    border-radius: 20%;
    background-color: black;
    color: white;
    width: 45px;
    height: 45px;
    font-size: 20px;
    margin: 10px;
}

#botao-cadasrar{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: black;
    height: 45px;
    font-size: 20px;
    margin: 10px;
    border: 0;
    background-color: unset;
}

#titulo {
    font-size: 24px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48;
    border-radius: 20%;
    background-color: unset;
    color: black;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin: 10px;
}