* {
    margin: 0;
    padding: 0;
    height: 10vh;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001514;
}

#menu-usuario {
    border-radius: 20%;
    background-color: black;
    color: white;
    width: 45px;
    height: 45px;
    font-size: 3vh;
    margin: 1vw;
}

#botao-cadasrar {
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 5px;
    color: #094067;
    font-size: 3vh;
    margin: 1vw;
    border: 0;
    height: 8vh;
    background-color: unset;
}

#titulo {
    font-weight: bold;
    font-size: 5vh;
    /* position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 1; */
    display: flex;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    align-items: center;
    color: #fffffe;
}

#titulo:hover {
    cursor: pointer;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

#botao-cadasrar:hover {
    background-color: #d8eefe;
    cursor: pointer;
}

app-menu-lateral {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 10vh;
}